/* ------------------------------------------------------------------ */
@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ------------------------------------------------------------------ */

#home {
  background-image: linear-gradient(#003300, #0099FF);
  min-height: 100vh;
  color: white;
}

